<div class="row">
	<main class="col-md-12">
		<h1 class="mt-4">About Me</h1>
		<p>Welcome to the About page! My name is <strong>Rushiraj Pathak</strong>.</p>

		<!-- Section about me -->
		<h2>Student Information</h2>
		<p>
			My name is Rushiraj Pathak, and I am currently studying in the <strong>BTT</strong> program at <strong>Seneca College</strong>. I am passionate about web development, and this site is part of my course work for the WEB700 course. 
		</p>
		<p>
			<b>Student Name:</b> Rushiraj Pathak <br>
			<b>Student ID:</b> 165943231 <br>
			<b>Program:</b> BTT <br>
			<b>Institution:</b> Seneca College <br>
		</p>
	</main>
</div>
